$accent: #21CE99;
$negative: #FF6961;

.bg-accent {
  background-color: $accent;
}

.bg-gray {
  background-color: #404040;
}

.bg-gray-dark {
  background-color: #262626;
}

.bg-negative {
  background-color: $negative;
}

.hl-accent:highlighted {
  color: $accent;
}

.text-accent {
  color: $accent;
}

.text-black {
  color: #333;
}

.text-white {
  color: white;
}