.bg-accent {
  background-color: #21CE99;
}

.bg-gray {
  background-color: #404040;
}

.bg-gray-dark {
  background-color: #262626;
}

.bg-negative {
  background-color: #FF6961;
}

.hl-accent:highlighted {
  color: #21CE99;
}

.text-black {
  color: #333;
}

.text-white {
  color: white;
}